.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border:1px solid black;
}
.logo{
    width: 120px;
    height: 100%;
}

.nav-item > ul{
   display: flex;
   list-style-type:none; 
}
.nav-item > ul > li{
    padding: 10px;
}
.card{
    width: 200px;
    padding :10px;
    margin:10px;
    border: 1px solid brown;
}
.card > img{
    width: 100%;
}

body{
    background-color: rgb(249, 208, 249);
}